:root {
  --page-bg: #FEFAD4;
  --primary: #765D69;
  --button-bg: #F1828D;
  --secondary: #8FB9A8;
  --dark-text: #666;
  --light-text: #FFF;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--page-bg);
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  margin: 0;
  padding: 1rem;
  display: flex;
  background: var(--primary);
}

navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

navbar li {
  display: inline-block;
  margin: 0 1.5rem 0 0;
  padding: 0;
}

navbar a {
  text-decoration: none;
}

navbar a.active {
  background: var(--button-bg);
}

navbar a.btn {
  width: 9rem;
}

.btn {
  align-items: center;
  background: var(--button-bg);
  border: none;
  border-radius: 0.4rem;
  color: var(--light-text);
  cursor: pointer;
  display: inline-flex;
  font-size: 1rem;
  justify-content: center;
  padding: 0.5rem 1.5rem;
  margin-left:0.5rem;
  transition: all 0.3s ease;
}

.btn:hover {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}

.btn-header {
  background: var(--primary);
  border: 1px solid var(--button-bg);
}

.btn-header:hover {
  border-color: var(--light-text);
}

.btn-header:active {
  background: var(--button-bg);
}

.btn > svg:first-child {
  margin-right: 0.6rem;
}
